<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{#if title}}{{title}} - {{/if}}SRTdash Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icon/favicon.ico">
    
    <!-- Main SCSS entry point for Vite -->
    <link rel="stylesheet" href="/src/scss/main.scss">